<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thsk.hareskovskole">


    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".messages.MessageActivity"
            android:label="MessageActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".moneytransfer.MoneyTransferActivity"
            android:label="moneyTransferActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".news.NewsDetailActivity"
            android:label="NewsDetailActivity"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name=".commercials.CommercialDetailActivity"
            android:label="CommercialDetailActivity"
            android:theme="@style/AppTheme"></activity>
        <!-- Urban Airship -->
        <meta-data
            android:name="com.urbanairship.autopilot"
            android:value="com.example.thsk.hareskovskole.utils.urbanairship.CodeConfigAutopilot" />

        <!-- OPTIONAL, if you want to receive push, push opened and registration completed intents -->
        <!-- Replace the receiver below with your package and class name -->
        <receiver android:name=".utils.urbanairship.UAirshipReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="com.urbanairship.push.CHANNEL_UPDATED" />
                <action android:name="com.urbanairship.push.OPENED" />
                <action android:name="com.urbanairship.push.RECEIVED" />
                <action android:name="com.urbanairship.push.DISMISSED" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
    </application>

</manifest>